
@if variable-exists(logo) {
    .site-logo {
        width: 60px;
        height: 60px;
        margin-right: 12px;
    }
}

.site-title {
    @include fs-5;
    font-weight: 700 !important;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7253ed;
    color: white;
}

table th:nth-of-type(1) {
    width: 125px;
}

table th:nth-of-type(3) {
    width: 150px;
}
