
@if variable-exists(logo) {
    .site-logo {
        width: 60px;
        height: 60px;
        margin-right: 12px;
    }
}

.site-title {
    @include fs-5;
    font-weight: 700 !important;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

td {
    background-color: #5c5962;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #44434d;
    color: white;
}

table th:nth-of-type(1) {
    width: 125px;
}

table th:nth-of-type(3) {
    width: 150px;
}

blockquote.note, blockquote.note-title {
    background: rgba($purple-000, 0.35);
}

blockquote.note::before, blockquote.note-title > p:first-child {
    color: #280875;
}

blockquote.important, blockquote.important-title {
    background: rgba($blue-000, 0.35);
}

blockquote.important::before, blockquote.important-title > p:first-child {
    color: #082375;
}

blockquote.warning, blockquote.warning-title {
    background: rgba($red-000, 0.35);
}

blockquote.warning::before, blockquote.warning-title > p:first-child {
    color: #cd1e1e;
}

blockquote.highlight, blockquote.highlight-title {
    background: rgba($yellow-000, 0.35);
}

blockquote.highlight::before, blockquote.highlight-title > p:first-child {
    color: #d79f00;
}

blockquote.new, blockquote.new-title {
    background: rgba($green-000, 0.35);
}

blockquote.new::before, blockquote.new-title > p:first-child {
    color: #005e47;
}

ul#markdown-toc {
    line-height: 1;
}